// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

#contact{
  form{
    label{
      width: 100%;
    }
  }
  input, textarea{
    margin-top: 10px;
  }
  [type=submit]{
    background-color: transparent;
    border: none;
    margin: 0;
    color: $primary-color;
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  div.wpcf7-validation-errors {
    border: 2px solid $secondary-color;
  }
  .wpcf7-not-valid-tip{
    color: $primary-color;
  }
}
