// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$header-font:       'Montserrat', sans-serif;
$body-font:         'Raleway', sans-serif;
$primary-color:     #E72264;
$secondary-color:   #F58A29;
$dark-color:        #263238;
$background-color:  #fbfbfb;
$light-grey:        #e2e2e2;
