footer{
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 100px;
  .arrow-up-wrapper{
    position: relative;
    display: inline-block;
    cursor: pointer;
    .icon-up{
      font-size: 36px;
      display: inline-block;
    }
    &:hover .icon-up{
      -webkit-animation: arrow-bounce 2s infinite;
      animation: arrow-bounce 2s infinite;
    }
  }
  .logo-wrapper2{
    height: 50px;
    margin: 20px 0;
    .logo-name{
      height:50px;
    }
    svg{
      path{
        stroke-width: 2;
        stroke-linecap: round;
      }

    }
  }
}
// END FOOTER STYLES